<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Inventário Mercadinho - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
</head>

<body>

	<div id="inicio" class="container col-md-10" >
		
		<h4>Lista de Produtos no Estoque</h4>
		<table class="table">
		  <tr class="table-success">
			<th>Nome</th>
			<th>Fabricante</th>
			<th>Volume</th>
			<th>Unidade</th>
			<th>Estoque</th>
			<th></th>
			
		  </tr>
		  <tbody id="event-table" >
			<tr v-for="produto in listaProdutos">
			  <td>{{ produto.nome }}</td> 
			  <td>{{ produto.fabricante.nome }}</td> 
			  <td>{{ produto.volume }}</td> 
			  <td>{{ produto.unidade }}</td> 
			  <td>{{ produto.estoque }}</td>
			  <td><span @click="" v-b-tooltip.hover title="Editar Item">&#9998;</span>
				
				<!-- <span @click="deleteProduto(produto.id)" v-b-tooltip.hover title="Excluir Item">&#10006;</span>-->
				<a data-toggle="modal" href="#modalExclusao" v-b-tooltip.hover title="Excluir Item">&#10006;</a>
				
				
							<div id="modalExclusao" class="modal fade" role="dialog">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title"></h4>
										</div>									  
													
										<div class="modal-body">																		
											<div class="from-group">
												<h5> Confirma exclusão do Item?</h5>								
											</div>
										</div>
								
										<div class="modal-footer">
											    					
											<button id="btn-signup" @click="deleteProduto(produto.id)" class="btn btn-danger">
												&#x2714; Excluir
											</button>
											<button type="button" class="btn btn-primary" data-dismiss="modal">&#x2716; Fechar</button>
										</div>			
									</div>
								</div>
						</div>
			  </td>
			 </tr>
		  </tbody>
		</table>
	  
		  <div class="text-right">
			<a href="/mercado/novo-produto.html" class="btn btn-success">&#x27A6; Cadastrar Novo Produto</a>
		</div>
	  </div>

	
	
	


	
	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/jquery.js"></script>
	<script src="resources/js/bootstrap-vue.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>