<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Cadastrar Novo Item</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
</head>

<body>


<div id="cadastroApp"class="container col-md-6 alert alert-info" > 
     <h4>Cadastro de Produto</h4>
     <br/>
     
     <div v-if="errors.length" class="alert alert-danger" role="alert"> 	
     	<b>Por favor, corrija o(s) erro(s) abaixo:</b>
	    <ul>
	      <li v-for="error in errors">{{ error }}</li>
	    </ul>
     </div>
         
     
	<form v-on:submit="sub" method="post">

	    <div class="form-group">
		    <label for="item">Nome do Item</label>
		    <input id="item" v-model="item" type="text" class="form-control">
	 	</div>
	  
	  
	    <div class="form-group">
	   		<label for="fabricante">Fabricante</label>   
		    <select v-model="fabricante" class="form-control">
			  <option v-for="fab in listaFabricantes" v-bind:value="fab.id">
			    {{ fab.nome }}
			  </option>
			</select>
		</div>
	  
	  
	 
		<div class="form-group">
		    <label for="volume">Volume</label>
		    <input id="volume" v-model="volume" type="number" min="0" class="form-control">
		</div>
	
	
		<div class="form-group">
		    <label for="unidade">Unidade de Comercialização</label>
		    <input id="unidade" v-model="unidade" type="text" class="form-control">
		</div>
	
	
		<div class="form-group">
		    <label for="estoque">Qtd. Estoque</label>
		    <input id="estoque" v-model="estoque" type="number" min="0" class="form-control">
		</div>
	         
	          
	        
	    <div class="form-group">    
	         <button type="submit" class="btn btn-primary">&#x2611; Enviar</button>
	    </div>
         
     </form>
     
     <div class="text-right">
		<a href="/mercado/index.html" class="btn btn-success">&#x261A; Voltar</a>
	</div>
	
 </div>





	




	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/jquery.js"></script>
	<script src="resources/js/bootstrap-vue.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/novo-produto.js"></script>
	
	
</body>
</html>